@page "/"
@using App.Integrations.GitHub
@using App.Integrations.GitHub.Models
@using App.Integrations.Steam
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<div class="top-border"></div>

<div class="page">
    <header class="page-header">
        <div class="page-header-content">
            <div class="image">
                <img alt="Erin" src="me.png" />
            </div>
            <div class="greeting">
                <h1 class="greeting-title">Hi, I'm Erin.</h1>
                <p class="greeting-subtitle">I'm a .NET software engineer passionate about building systems.</p>
            </div>
        </div>
    </header>
    <div class="page-content">
        <div class="page-content-inner">
            <div class="info-block" id="socialAccounts">
                <h3 class="heading">My Social Accounts</h3>
                @if (SocialAccounts is null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <ul style="padding-left: 1rem;">
                        @foreach (var socialAccount in SocialAccounts)
                        {
                            <li>
                                <a href="@socialAccount.Url" target="_blank">@socialAccount.Provider</a>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="info-block" id="gists">
                <h3 class="heading">My Gists</h3>
                @if (Gists is null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <ul style="padding-left: 1rem;">
                        @foreach (var gist in Gists.Where(g => g.Public))
                        {
                            <li>
                                <a href="@gist.Url" target="_blank">@gist.Description</a>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="info-block" id="games">
                <h3 class="heading">Recently Played Games</h3>
                @if (Games is null)
                {
                    <p><em>Loading...</em></p>
                }
                else if (Games.Length == 0)
                {
                    <p>Nothin'</p>
                }
                else
                {
                    <ul style="padding-left: 1rem;">
                        @foreach (var game in Games)
                        {
                            <li>
                                @if (game.GetIconUrl() is { } logoUrl)
                                {
                                    <span><img alt="@game.Name Logo" src="@logoUrl" /></span>
                                }
                                <span>@game.Name (@((game.Playtime / 60.0).ToString("0.0")) hours)</span>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="info-block" id="activities">
                <h3 class="heading">Recent GitHub Activity</h3>
                @if (RecentGitHubActivity is null)
                {
                    <p><em>Loading...</em></p>
                }
                else if (RecentGitHubActivity.Length == 0)
                {
                    <p>Nothin'</p>
                }
                else
                {
                    <ul style="padding-left: 1rem;">
                        @foreach (var activity in RecentGitHubActivity.Where(x => x.Public))
                        {
                            <li>
                                <span>@activity.Type</span>
                                @if (activity.Repository is { } repo)
                                {
                                    <span> in <a href="@repo.GetHtmlUrl()" target="_blank">@repo.Name</a></span>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@code {

    private readonly IGitHubApiClient _githubApiClient;
    private readonly ISteamApiClient _steamApiClient;
    
    private GetRecentlyPlayedGamesResponse.Game[]? Games { get; set; }
    private GitHubGist[]? Gists { get; set; }
    private GitHubSocialAccount[]? SocialAccounts { get; set; }
    private GitHubUserEvent[]? RecentGitHubActivity { get; set; }

    public Home(IGitHubApiClient githubApiClient, ISteamApiClient steamApiClient)
    {
        _githubApiClient = githubApiClient;
        _steamApiClient = steamApiClient;
    }
    
    protected override async Task OnInitializedAsync()
    {
        Gists = await _githubApiClient.ListGists();
        SocialAccounts = await _githubApiClient.ListSocialAccounts();
        Games = (await _steamApiClient.GetRecentlyPlayedGames()).Games;
        RecentGitHubActivity = await _githubApiClient.ListUserActivities("erinnmclaughlin");
    }
}
